apiVersion: v1
kind: PersistentVolume
metadata:
  name: bankapp-pv
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /data/bankapp    
  persistentVolumeReclaimPolicy: Retain  



  
